#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: gray;
  align-items: center;

}

#logo {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 15px;

}

#logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


.dropbtn img {
  height: 60px;
  width: 100px;
  background: grey;
}
.dropbtn {
  background: grey;
border: 0;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}


.fi-gb {
  background-image: url(../img/gb.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 30px;
}

.fi-fr {
  background-image: url(../img/fr.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 30px;
}

.fi-bg {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 30px;
}



#mainContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: lightgray;
  align-items: center;
  padding: 10px;
}

#leftContent {
  margin: auto;
}
body {
   background-color: gray;
 }

#navButton {
  flex-grow: 1;
}

#navButton ul {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Keep items in a row */
  justify-content: flex-start; /* Align items to the left */
  gap: 30px;
}

#navButton ul li a {
  font-weight: bold; /* Make text bold */
  font-size: 18px;
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set link color to black, change as needed */
  padding: 5px; /* Add some padding to make it look bigger */
}

#navButton ul li a:hover {
  background-color: #f0f0f0; /* Add a background color */
  border-radius: 5px; /* Add border radius */
  padding: 5px; /* Add some padding to make it look bigger */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}